<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Add Category</h4>
                </div>
                <div class="card-body">
                    <form @submit.prevent="create">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input v-model="category.title" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input v-model="category.description" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "add-category",
    data() {
        return {
            category: {
                title: "",
                description: ""
            }
        }
    },
    methods: {
        async create() {
            await this.axios.post('/api/category', this.category).then(response => {
                this.$router.push({name: "categoryList"})
            }).catch(error => {
                console.log(error)
            })
        }
    }
}
</script>
